html {
    font-size: 14px;
}

body{
    font-family: 'Bakbak One'cursive;
    font-weight: 400;
    margin: 0 40px 0 40px;    
}

footer{
    border-top: 1px solid gray ;
}

footer ul{
    text-align: center;
}

footer li{
    display: inline;
}

footer a{
    text-decoration: none;
}

footer img{
    width: 50px;
}

header h1{
    color:red;
}

article.last p{
    margin-bottom: 40px;
}

.picture{
    width: 100%;
}

@media (min-widht: 769px) {
    body{
      margin: 0 20vw 0 20vw; 
    }
}

/*referência a % do tamanho da tela
vw = viewportWidth
vh = viewportHeight */

/*  em = referencia o tamanho da fonte do elemento pai
exemplo: font-size: 10px
         margin-bottom: 1em , ou seja a margin será de uma medida, nesse caso 10 px.

         rem = referencia o tamanho da fonte do elemento html
*/
